*   {margin: 0; padding: 0;}      /* Обнуление отступов внешних и внутренних */


#wrapper { 					   /* Основная оболочка */  
    width: 960px; 			   /* Ширина */
    border: #090 0px solid;	   /* Отладочная рамка равная 0*/
    margin: 0 auto;			   /* Отступ сверху 0, Расположение оболочки по центру экрана */
    } 
	
	
#header {							/* Шапка */
    height: 50px; 					/* Высота шапки */
    background: #fc3;				/* Фон шапки */
    }

	
#logo   {								/* Логотип */
    width: 100px; 					/* Ширина логотипа*/
    height: 50px; 					/* Высота логотипа*/
    background: url(img/log2.PNG); 	/* Каринка логотипа в папке img */
    position: absolute; 			/* Абсолюбное позиционирование логотипа, независимо от другого наполнения шапки */
    z-index: 2; 					/* Уровень по Z относительно основного уровня контента страници	*/
     }

	
#hor_nav {				 /* Горизонтальная навигация по сайту */
    border: #090 0px solid;
    margin: 0 auto;
	height: 20px; 		 /* Высота панели навигации 20 пикселей */
    background: #f55;	 /* Фон панели навигации */
    }
	
#hor_nav ul {
		list-style-type: none; /* Удаление точек у списка */
		padding: 0 0 0 210px;  /* Смещение панели навигации в право на 210 пикселей */
		}
		
		
#hor_nav li { 
		float: left;			/* Делаем меню горизонтальным */
		margin-right: 50px;}	/* Интервал между ссылками 50 пикселей */


#second {									/* Вторичная обертка для вертикальной навигации и контента */
        background: url(img/fon2_960.jpg);  /* Заполняем фон контента повторяющейся картинкой */
		border: #fff 0px solid;
        }


#navv     {						/* Обертка для вертикальной навигации*/
	width:  190px; 				/* Ширина панели навигации*/
	border: #000 0px solid;
	float: left; 				/* Размещаю блок навигации слева, а блок контент будет обтекать его справа */
 } 

#navv ul  {
    list-style-type: none; 			 /* Удаление точек у списка */
    padding: 30px 0 0 10px;			 /* Смещение паели навигации вниз на 30 и вправо на 10 пикселей */
    }
    
#navv a   {
    background: url(img/button-150-100.png); /* Кнопка */
    width: 130px; 							 /* 150 = 130 + 20 ширина картинки */
    height: 35px; 							 /* 50 = 35 + 15 половина высоты картинки */
    display: block; 						 /* Превратил ссылку в блочный элемент, чтобы подогнать ее под размер картинки */
    padding: 15px 0 0 20px;					 /* Для нормального отображения кнопки */
    }
  
#navv a:hover   {					 /* Кнопка навигации принажатии */
    background: url(img/button-150-100.png) bottom;
    }


#content { 						/* Оболочка для контента */
   margin: 0 0px 0 200px; 		/* Смещение блока контента вправо на 200 пикселей */
  border: #090 0px solid;
  position: relative; 			/* Расположение блока в его исходном месте */
      }
	  
#cont  {						/* Оболочка для контента на странице с контактами */
	margin: 0 0 0 10px;
	border: #000 0px solid;
	width: 400px; 			/* Ширина оболочки 400 пикселей */
	position: absolute;		/* Абсолюбное позиционирование оболочки */
	top:  100px;			/* Смещение оболочки вниз на 100 пикселей*/
    }	
 
iframe   { 					/* Карта гугл*/
	border: 2px solid #090;
    position: absolute;		/* Абсолюбное позиционирование карты */
    top:  100px;			/* Смещение карты вниз на 100 пикселей */
    right: 0;				/* Выравнивание карты по правой стороне оболочки контента */
    }


 #footer { 						/* Подвал*/
		background: #fc3;		/* Задание цвета фона */
		}		

 .ot {
		float: left; 				/* Картинка выравнивается по левой части оболочки контента, а текст обтекает справа */
		margin: 10px 10px 0px 0px;  /* Отступ сверху и справа 10 пикселей */
}


table  {
		width: 100%; 				/* Ширина таблици 100% от ширины контента */
		border-collapse: collapse; 	/* Единая перемычка между ячейками таблици */
		}

td, tr { 
		border: 2px solid #090; 	/* Толщина рамки 2 пикселя */
		padding: 5px;			    /* Отступ 5 пикселей со всех сторон */
}

.cen {
		width: 80px;				/* Столбец с ценами шириной 80 пикселей */
		} 
  
h1   { 										 /* Название сайта */
	font: 700 20pt 'Comic Sans MS', fantasy; /* Жирный шрифт, высотой 20, шрифт Comic Sans MS, семейство шрифтов fantasy */
	text-align: center;						 /* Выравнивание шрифта текста по центру */
    padding-top: 10px;						 /* Смещение надписи вниз на 10 пикселей */
	color: #f00;						     /* Цвет шрифта красный */
    }
 
h2 {							 /* Название страниц*/
	text-align: center;		 /* Выравнивание шрифта текста по центру */
    padding-top: 10px;		 /* Смещение надписи вниз на 10 пикселей */
	}
 
 #cont p , #content p, #content a{			/* Текст в контенте: параграфы и ссылки */
		text-indent: 40px;				/* Красная строка */
		text-align: justify;			/* Текст по всей ширине */
		padding: 0 10px 0px 10px;	 	/* Отступ текста от границ слева и справа по 10 пикселей */
		}
		
h3 {							/* Текст в подвале */
	text-indent: 40px; 		/* Красная строка */
	padding: 5px 0 0 0;	 	/* Отступ текста сверху по 5 пикселей */
	}